.about-section {
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg2.svg");
  background-size: cover;
}
.about-shadow {
  background: #0f0f0f;
  opacity: 0.9;
  width: 100%;
  height: 100vh;
}
.about-shadow-2 {
  display: flex;
  width: 100%;
  height: 100vh;
  background: radial-gradient(
    136.03% 54.57% at 50% 48.04%,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0) 60.63%,
    #080a0b 99.74%
  );
}
.about-text-section {
  width: 45%;
  height: 100%;
}
.karusel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100vh;
  left: 0px;
}
.about-main-text {
  height: 500px;
  margin-left: 100px;
  margin-top: calc(50vh - 250px);
}
.about-question {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #ffffff;
}
.about-big-name {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  width: 90%;
  margin-top: 10px;
  color: #ffffff;
  border-bottom: 3px solid white;
}
.about-small-text {
    width: 65%;
    margin-top: 60px;
    margin-left: 35%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
