.features-page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 200vh;
  background-image: url("../images/bg3.png");
  background-size: cover;
}
.fea-shadow {
  width: 100%;
  height: 100vh;
  background: radial-gradient(
    51.1% 80.48% at 30.85% 53.65%,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0) 19.2%,
    rgba(4, 5, 6, 0.520671) 47.48%,
    #080a0b 99.74%
  );
}
.fea-container {
  width: 40%;
  margin-left: 60%;
  padding-top: 5vh;
}
.special {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #ffffff;
  margin-top: 15vh;
}
.fea-title {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 10px;
}
.fea1 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-align: left;
  letter-spacing: 2px;

  color: #ffb548;
}
.fea-several {
  position: absolute;
  top: 45vh;
  display: flex;
}
.fea-lines {
  text-align: center;
  display: inline-block;
  width: 50px;
}
.fea-icon1 {
  transition: all 0.5s;
  font-size: 15px;
  margin-top: 8px;
  display: block;
  margin-left: 15.5px;
  color: white;
  z-index: 2;
}
.fea-icon11 {
  transition: all 0.5s;
  position: absolute;
  top: calc(-72px);
  left: 15.5px;
  font-size: 15px;
  display: block;
  color: white;
  z-index: 2;
}
.fea-icon2 {
  transition: all 0.5s;
  position: absolute;
  display: block;
  font-size: 15px;
  margin-left: 15.5px;
  color: white;
  top: 45px;
  z-index: 2;
}
.fea-icon12 {
  transition: all 0.5s;
  position: absolute;
  top: calc(45px);
  left: 15.5px;
  font-size: 15px;
  display: block;
  color: white;
  z-index: 2;
}
.fea-icon3 {
  transition: all 0.5s;
  position: absolute;
  display: block;
  font-size: 15px;
  margin-left: 15.5px;
  color: white;
  top: 80px;
  z-index: 2;
}
.fea-icon33 {
  transition: all 0.5s;
  position: absolute;
  display: block;
  font-size: 15px;
  margin-left: 15.5px;
  color: white;
  top: 160px;
  z-index: 2;
}
.fea-icon32 {
  transition: all 0.5s;
  position: absolute;
  display: block;
  font-size: 15px;
  margin-left: 15.5px;
  color: white;
  top: 80px;
  z-index: 2;
}
.line1-2 {
  transition: all 0.5s;
  position: absolute;
  top: calc(14px);
  left: 21.5px;
  width: 1px;
  height: 22px;
  border: 1px gray solid;
  background-color: gray;
  border-radius: 3px;
}
.line1-2-a {
  transition: all 0.5s;
  position: absolute;
  top: calc(-66px);
  left: 21.5px;
  width: 1px;
  height: 102px;
  border: 1px white solid;
  background-color: white;
  border-radius: 3px;
}
.line2-3 {
  transition: all 0.5s;
  position: absolute;
  top: calc(50px);
  left: 21.5px;
  width: 1px;
  height: 30px;
  border: 1px gray solid;
  background-color: gray;
  border-radius: 3px;
}
.line2-3-a {
  transition: all 0.5s;
  position: absolute;
  top: calc(45px);
  left: 21.5px;
  width: 1px;
  height: 105px;
  border: 1px white solid;
  background-color: white;
  border-radius: 3px;
}
.line3-4 {
  display: none;
}
.line3-4-a {
  transition: all 0.5s;
  position: absolute;
  top: calc(85px);
  left: 21.5px;
  width: 1px;
  height: 85px;
  border: 1px white solid;
  background-color: white;
  border-radius: 3px;
}
.fea12 {
  transition: all 0.5s;
  width: 80%;
  height: 60px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}
.fea-title-1 {
  margin-top: -80px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .features-page {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 200vh;
    background-image: url("../images/bg31.png");
    background-size: cover;
  }
  .fea-shadow {
    overflow-x: hidden;
    width: 110vw;
    margin-left: -10vw;
    height: 100vh;
    background: radial-gradient(
      17.45% 34.77% at 31.45% 40.62%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 0%,
      rgba(4, 5, 6, 0.520671) 25.99%,
      rgba(6, 7, 8, 0.739601) 65.03%,
      #080a0b 99.74%
    );
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  }
  .fea-container {
    width: 65%;
    margin-left: 35%;
    padding-top: 0px;
  }
  .special {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
  }
  .fea-title {
    font-size: 33px;
    line-height: 33px;
    letter-spacing: 3px;
  }
  .fea1 {
    font-size: 21px;
    line-height: 21px;
  }
  .fea12 {
    font-size: 14px;
    line-height: 16px;
  }
  .fea-icon11 {
    top: calc(-79px);
    left: 0px;
  }
  .fea-icon1 {
    margin-top: 2px;
    margin-left: 0px;
  }
  .line1-2-a {
    top: calc(-73px);
    left: 6px;
    height: 87px;
  }
  .line1-2 {
    top: calc(8px);
    left: 6px;
    height: 5px;
  }
  .fea-icon12 {
    top: calc(23px);
    left: 0px;
  }
  .line2-3-a {
    top: calc(23px);
    left: 6px;
    height: 91px;
  }
  .fea-icon2 {
    margin-left: 0px;
    top: 23px;
  }
  .fea-icon32 {
    margin-left: 0px;
    top: 43px;
  }
  .line2-3 {
    top: calc(30px);
    left: 6px;
    height: 5px;
  }
  .line3-4-a {
    top: calc(49px);
    left: 6px;
    height: 80px;
  }
  .fea-icon33 {
    margin-left: 0px;
    top: 123px;
  }
  .fea-icon3 {
    margin-left: 0px;
    top: 43px;
  }
}

@media screen and (min-width:426px) and (max-width:768px) {
  .fea-container {
    width: 55%;
    margin-left: 45%;
    padding-top: 0px;
  }
}