.main-header-2 {
  width: 100%;
  height: 145px;
  position: absolute;
  background-color: rgb(9, 10, 11);
  top: 600vh;
  left: 0px;
}
.footer-socials {
  width: 30%;
}
.f-icon {
  color: white;
  font-size: 20px;
  margin-top: 35px;
  width: 25%;
}
.facebook:hover {
  color: rgb(47, 89, 225);
}
.twitter:hover {
  color: rgb(53, 133, 239);
}
.you-tube:hover {
  color: red;
}
.twitch:hover {
  color: rgb(131, 78, 233);
}
.after-footer {
  width: 80%;
  display: flex;
  height: 50px;
  margin-left: 10%;
  border-top: 0.873968px solid rgba(255, 255, 255, 0.5);
}
.copyright {
    width: 50%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-top: 22px;
}
.footer-privasy {
    width: 50%;
    margin-top: 22px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
