.main-page {
  width: 100vw;
  height: 70vh;
  background-image: radial-gradient(
      189.96% 61.18% at 50% 38.82%,
      rgba(255, 181, 72, 0) 0%,
      rgba(52, 44, 29, 0.80319) 73.22%,
      #08090a 99.74%
    ),
    url("../images/bg.svg");
  background-size: cover;
  background-position: center;
}
.main-title {
  padding-top: 30vh;
}
.main-title-big {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}
.main-title-small {
  text-align: center;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #ffffff;
}
.main-buy {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.buy-btn {
  width: 25%;
  height: 70px;
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
  border: none;
  transition: all 0.5s;
}
.buy-btn:hover {
  transform: scale(0.9);
}
.btn-content {
  display: flex;
}
.buy-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #1a1917;
  width: 70%;
  margin-right: 10%;
  border-right: 0.873968px solid #1a1917;
}
.cost-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #1a1917;
}

@keyframes thestory {
  0% {
    margin-top: 28vh;
  }
  50% {
    margin-top: 32vh;
  }
  100% {
    margin-top: 28vh;
  }
}

.main-story {
  margin-top: 32vh;
  width: 100%;
  text-align: center;
  animation-name: thestory;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.main-story-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.story-icon {
  font-size: 22px;
  color: white;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .main-title-big {
    font-size: 33px;
    line-height: 33px;
  }
  .main-title-small {
    font-size: 18px;
    line-height: 18px;
  }
  .main-buy {
    margin-top: 12px;
  }
  .buy-btn {
    width: 80%;
  }
  .buy-text, .cost-text {
    font-size: 14px;
    line-height: 19px;
  }
}
