.news-page {
  width: 90%;
  height: calc(100vh - 50px);
  padding-left: 10%;
  padding-top: 50px;
}
.back-image {
  width: 100%;
  height: 100%;
  background: radial-gradient(
    45.43% 53.19% at 50% 50%,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0) 46.15%,
    #080a0b 99.74%
  );
}

.img-shadow {
  width: 100%;
  height: 100%;
  background: radial-gradient(
    51.83% 41.42% at 48.17% 50%,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0) 67.58%,
    #060708 99.74%
  );
}
.news-img {
  display: inline-block;
  margin-left: 10%;
  margin-top: 50px;
  width: 445px;
  height: 694px;
  background-image: url("../images/bg7.svg");
}
.news-header {
  display: inline-block;
  position: absolute;
  width: calc(100% - 10% - 445px);
  height: 70vh;
}
.news-want {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  width: 100%;
  color: #ffffff;
  margin-top: 10vh;
}
.news-main-title {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  width: 100%;
  color: #ffffff;
  margin-top: 9px;
}
.news-title-desc {
  width: 60%;
  margin-top: 45px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.news-subs {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.email-input {
  width: calc(58% - 10px);
  height: 60px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  outline: none;
  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #ffb548;
  padding-left: 10px;
}
.email-input::placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;

  color: #ffffff;
}
.news-subs-btn {
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
  width: 38%;
  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #1a1917;
  transition: all 0.3s;
}
.news-subs-btn:active {
  transform: scale(0.9);
}
.news-subs-btn:hover {
  transform: scale(0.9);
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .news-img {
    display: inline-block;
    margin-left: 10%;
    margin-top: 50px;
    width: 222.5px;
    height: 347px;
    background-image: url("../images/bg7.svg");
  }
  .news-header {
    display: inline-block;
    position: absolute;
    width: calc(100% - 10% - 445px);
    height: 70vh;
    display: none;
  }
}
